* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    background: rgb(115, 178, 199);
}

#showcase {
    height: 100vh;
    background: rgb(115, 178, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 0 10px; */
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    color: white;
}

#showcase h2 {
    display: none;
}

#showcase p {
    font-size: 18px;
    color: white;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 15px;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
    background: white;
    color: rgb(115, 178, 199);
    border: white 1px solid;
}

#section-a {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

#section-a iframe {
    border: none;
}

.questionnaire {
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
    left: 88%;
    top: 90%;
}

@media all and (max-width: 1105px) {
    #showcase h1 {
        display: none;
    }
    #showcase p {
        display: none;
    }
    #showcase .button {
        display: none;
    }
    #showcase h2 {
        display: flex;
        color: white;
    }
    #section-a {
        display: none;
    }
}